<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLNHANSUConnectionString"
            connectionString="Data Source=DESKTOP-VSQTOGR\SQLEXPRESS;Initial Catalog=QLNHANSU;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>